@media (max-width: 1440px) {
  #header .header--block__time--icon {
    left: 49em;
  }

}

@media (max-width: 1200px) {
  #header .header--block__time--icon {
    left: 41em;
  }
  #hero .marquee-infinite .pizza {
    font-size: 7px;
  }
  header .header--block__time--box {

    width: 16%;
  }
  #header .header--block__menu--select__btn {
    padding: 6px 14px;
    font-size: 10px;
  }
}

@media (max-width: 1140px) {
  #header .header--block__time--icon {
    display: none;
  }
  
}
@media (max-width: 992px) {
  #header .header--block__menu--A {
    font-size: 10px;
  }
  #header .header--block__menu--select__kg {
    font-size: 10px;
  }

}
@media (max-width: 768px) {
  #header .header--block__menu--A {
    display: none;
  }
  #header .header--block__menu--select {
    margin: 0 0 0 450px;
  }
  .burger{
    display: block;
  }
  .burgerLine {
    left: 90%;
  }
  #header .header--block__time {
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  #header .header--block__time--box {
    /* display: flex; */
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 10px;
    /* width: 10%; */
    width: 25%;
    flex-direction: column;
  }
  #footer .footer--block {
    display: none;

  }
  #header .header--block__time--search {
    width: 90%;
    height: 32px;

  }
}
@media (max-width: 576px) {
  #question .question--accordion {
    width: 90%;
  }
  #question .question--accordion__title:after {
    margin: -20px 0 0 172px;
  }
  #card .card--menus {
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr;
  }
  #card .card--block {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    flex-direction: column;
  }
  #card .card--block__select {
    font-size: 10px;
  }
  #header .header--block__menu--select {
    margin: 0 0 0 307px;
  }
  #question .question--accordion__body {
    width: 80%;
    font-size: 9px;
    line-height: 12px;
  }
  #header .header--block__time--search {
    width: 90%;
    height: 32px;

  }
}
@media (max-width: 450px) {
  #header .header--block__menu--select {
    margin: 0 0 0 236px;
  }
  .burgerLine {
    left: 84%;
  }
  #card .card--block__select {
    width: 39%;
  }
  #question .question--accordion__title:after {
    display: none;
  }
  #footer .footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFFFFF;
    flex-direction: column;
  }
  #question .question--accordion__body {
    width: 80%;
    font-size: 9px;
    line-height: 12px;
  }
  #question .question--accordion__title {
    width: 80%;
    font-size: 12px;
    padding: 10px 20px;
  }
  #header .header--block__time--search {
    width: 90%;
    height: 32px;

  }
}
@media (max-width: 414px) {
  #header .header--block__menu--select {
    margin: 0 0 0 24px;
  }
  .burgerLine {
    left: 80%;
  }
  #header .header--block__time--search {
    width: 90%;
    height: 32px;

  }

}
@media (max-width: 400px) {
  #header .header--block__time--search {
    width: 90%;
    height: 32px;

  }
  #footer .footer h1 {
    font-size: 15px;
    line-height: 25px;
  }
  #footer .footer--social a {
    font-size: 10px;
  }
  #hero .marquee-infinite .pizza {
    font-size: 4px;
  }
}